### 10SP 30S Skill Points Statistics:
Last macro runs: 97
Total runs: 118
Potential skill points earned from the last run: 873
Total potential skill points earned: 1062

### Peel Trident Purchaser:
Total Peel Tridents purchased from the last macro: 0
Total Peel Tridents purchased: 0

### Skill Points Applier:
Total Skill Points applied and used: 0
Total Wheel Spins earned: 0000